<div style="width: 100%; text-align: center;">
  <label style="width: 30%; font-size: larger;">Select Quiz</label>
  <select (change)="selected($event)" style="width: 10%; font-size: larger;
  color: currentcolor;">
  <option>SELECT</option>
    <option *ngFor="let lstquiz of lstNews" value="{{lstquiz['id']}}">{{lstquiz['quizTitle']}}</option>
  </select>
</div>
<!-- <div *ngFor="let project of currentQuestion; let i = index"> -->
  <div>
  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <!-- <b>{{ i + 1 }}. &nbsp;&nbsp;&nbsp;&nbsp;{{project.questionTitle}}</b> -->
    <b>1.     what is sap?</b>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <button>Edit</button>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <button style="background: crimson;">Delete</button>
    <br>
    <!-- <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topics:- &nbsp;&nbsp;&nbsp;&nbsp;{{project.topics}}</a> -->
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topics:- &nbsp;&nbsp;&nbsp;&nbsp;IT</a>
    <div class="card-container">
      <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choices:-</a>
      <!-- <div *ngFor="let image of project.choices; let i = index"> -->
        <div>
        <!-- <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
        <!-- {{ i + 1 }}.&nbsp;&nbsp;&nbsp;&nbsp;{{image.choiceTitle}} -->
        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 1.    CRM<br>
       <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>2.    ERP<br>
       <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>3.    Language<br>
       <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>4.    script<br>
      </div>
    </div>
  </div>

  <div>

  </div>