
 <!-- <app-add-new-question></app-add-new-question> -->
 <!-- <app-quetion-list></app-quetion-list> -->
 <!-- <app-dash-board></app-dash-board> -->
 <app-dashboard-header></app-dashboard-header>
 <router-outlet></router-outlet>
 <!-- <app-start-exam></app-start-exam> -->
<!-- <app-add-new-question></app-add-new-question> -->
<!-- <app-question-edition></app-question-edition> -->

<!--welcome page-->

<!--Search page-->

<!--creation page-->
<!-- <app-dash-board></app-dash-board>
<router-outlet ></router-outlet> -->